from {{ feature_import }}.repositories import {{ short_name | pascalcase }}Repository
from splent_framework.services.BaseService import BaseService


class {{ short_name | pascalcase }}Service(BaseService):
    def __init__(self):
        super().__init__({{ short_name | pascalcase }}Repository())
