from splent_feature_{{ feature_name }}.repositories import {{ feature_name | pascalcase }}Repository
from splent_framework.core.services.BaseService import BaseService


class {{ feature_name | pascalcase }}Service(BaseService):
    def __init__(self):
        super().__init__({{ feature_name | pascalcase }}Repository())