"""Alembic migration environment for {{ feature_name }}."""

from {{ feature_import }} import models  # registers models with db.metadata  # noqa
from splent_framework.migrations.feature_env import run_feature_migrations

FEATURE_NAME = "{{ feature_name }}"
FEATURE_TABLES = {"{{ feature_name }}"}  # TODO: replace with your actual table name(s)

run_feature_migrations(FEATURE_NAME, FEATURE_TABLES)
