from flask import render_template
from splent_io.splent_feature_{{ feature_name }} import {{ feature_name }}_bp


@{{ feature_name }}_bp.route('/{{ feature_name }}', methods=['GET'])
def index():
    return render_template('{{ feature_name }}/index.html')