from {{ feature_import }}.models import {{ short_name | pascalcase }}
from splent_framework.repositories.BaseRepository import BaseRepository


class {{ short_name | pascalcase }}Repository(BaseRepository):
    def __init__(self):
        super().__init__({{ short_name | pascalcase }})
