from splent_framework.blueprints.base_blueprint import BaseBlueprint

{{ short_name }}_bp = BaseBlueprint(
    "{{ short_name }}", __name__, template_folder="templates"
)


def init_feature(app):
    pass


def inject_context_vars(app):
    return {}
