from splent_framework.db import db


class {{ short_name | pascalcase }}(db.Model):
    id = db.Column(db.Integer, primary_key=True)

    def __repr__(self):
        return f"{{ short_name | pascalcase }}<{self.id}>"
