WORKING_DIR=/workspace
SPLENT_APP={{ product_name }}
PYTHONPATH=/workspace/{{ product_name }}/src
FLASK_APP={{ product_name }}:create_app

MARIADB_HOSTNAME={{ product_name }}_db
MARIADB_DATABASE={{ product_name }}_db
MARIADB_TEST_DATABASE={{ product_name }}_db_test
MARIADB_USER={{ product_name }}_db_user
MARIADB_PASSWORD={{ product_name }}_db_password
MARIADB_ROOT_PASSWORD={{ product_name }}_db_root_password

RUN_DB_SEED=true
