WORKING_DIR=/workspace
SPLENT_APP={{ product_name }}
PYTHONPATH=/workspace/{{ product_name }}/src
FLASK_APP={{ product_name }}:create_app

MARIADB_HOSTNAME={{ product_name }}_db
MARIADB_DATABASE=<SET>
MARIADB_USER=<SET>
MARIADB_PASSWORD=<SET>
MARIADB_ROOT_PASSWORD=<SET>

RUN_DB_SEED=false
