[build-system]
requires = ["setuptools>=80.3.1", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "{{ product_name }}"
version = "0.0.1"
description = "{{ product_name }} is an app built with SPLENT (https://www.splent.io)"
readme = "README.md"
requires-python = ">=3.13"

dependencies = [

]

[project.optional-dependencies]
dev = [
    "watchdog"
]

core = [
    "splent_framework",
    "splent_cli"
]

features = [
    "splent_feature_redis@v1.0.0",
    "splent_feature_public@v1.0.0",
    "splent_feature_mail@v1.0.0",
    "splent_feature_confirmemail@v1.0.0",
    "splent_feature_auth@v1.0.0",
    "splent_feature_profile@v1.0.0",
    "splent_feature_reset@v1.0.0"
]

[tool.setuptools]
package-dir = { "" = "src" }

[tool.setuptools.packages.find]
where = ["src"]
