services:

  {{ product_name }}_web:
    build:
      context: /workspace
      dockerfile: /workspace/{{ product_name }}/docker/Dockerfile.{{ product_name }}.dev
    container_name: {{ product_name }}_web
    volumes:
      - ${SPLENT_HOST_PROJECT_DIR}:/workspace
    env_file:
      - /workspace/{{ product_name }}/docker/.env
    ports:
      - "{{ web_port }}:5000"
    depends_on:
      {{ product_name }}_db:
        condition: service_healthy
    networks:
      - {{ network_name }}
    command: [ "tail", "-f", "/dev/null" ]

  {{ product_name }}_db:
    image: mariadb:11.4
    container_name: {{ product_name }}_db
    env_file:
      - /workspace/{{ product_name }}/docker/.env
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "{{ db_port }}:3306"
    volumes:
      - {{ product_name }}_db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD-SHELL", "mariadb -u$${MARIADB_USER} -p$${MARIADB_PASSWORD} -e 'SELECT 1'"]
      interval: 5s
      timeout: 5s
      retries: 30
      start_period: 10s
    networks:
      - {{ network_name }}

volumes:
  {{ product_name }}_db_data:

networks:
  {{ network_name }}:
    external: true