features
	{{ product_name }}
		// Add your features here, e.g.:
		// mandatory
		//     auth {org 'splent-io', package 'splent_feature_auth', version 'v1_0_0'}
		// optional
		//     redis {org 'splent-io', package 'splent_feature_redis', version 'v1_0_0'}

constraints
	// Add dependency constraints here, e.g.:
	// profile => auth
