[build-system]
requires = ["setuptools>=80.3.1", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "{{ product_name }}"
version = "0.0.1"
description = "{{ product_name }} is an app built with SPLENT (https://www.splent.io)"
readme = "README.md"
requires-python = ">=3.13"

dependencies = [

]

[project.optional-dependencies]
dev = [
    "watchdog"
]

core = [
    "splent_framework"
]

features = [
]

[tool.splent]
cli_version = "{{ cli_version }}"

[tool.splent.uvl]
mirror = "uvlhub.io"
doi = ""
file = "{{ product_name }}.uvl"

[tool.setuptools]
package-dir = { "" = "src" }

[tool.setuptools.packages.find]
where = ["src"]
