import os
from flask import Flask

from splent_framework.managers.config_manager import ConfigManager
from splent_framework.managers.db_manager import MigrateManager
from splent_framework.managers.session_manager import SessionManager
from splent_framework.managers.logging_manager import LoggingManager
from splent_framework.managers.error_handler_manager import ErrorHandlerManager
from splent_framework.managers.jinja_manager import JinjaManager
from splent_framework.managers.feature_manager import FeatureManager


def create_app(config_name="development"):
    app = Flask(__name__)

    _load_config(app, config_name)
    _init_db(app)
    _init_sessions(app)
    _init_logging(app)
    _init_error_handlers(app)
    _init_jinja_context(app)
    _init_features(app)

    return app


def _load_config(app, config_name):
    ConfigManager.init_app(app, config_name)

def _init_db(app):
    MigrateManager(app)

def _init_sessions(app):
    SessionManager(app)

def _init_logging(app):
    LoggingManager(app).setup_logging()

def _init_error_handlers(app):
    ErrorHandlerManager(app).register_error_handlers()

def _init_jinja_context(app):
    context = {
        "SPLENT_APP": os.getenv("SPLENT_APP", "my_app")
    }
    JinjaManager(app, context)

def _init_features(app):
    FeatureManager(app).register_features()
