#!/bin/bash

# ---------------------------------------------------------------------------
# Creative Commons CC BY 4.0 - SPLENT - Diverso Lab
# ---------------------------------------------------------------------------
# This script is licensed under the Creative Commons Attribution 4.0 
# International License.
# https://creativecommons.org/licenses/by/4.0/
# ---------------------------------------------------------------------------

set -e

if [ "$(id -u)" -eq 0 ]; then
  LOG_DIR="/var/log/splent"
else
  if [ -z "$SPLENT_HOST_PROJECT_DIR" ]; then
    echo "❌ SPLENT_HOST_PROJECT_DIR not defined."
    exit 1
  fi
  LOG_DIR="${SPLENT_HOST_PROJECT_DIR}/.splent/logs"
fi

mkdir -p "$LOG_DIR"
LOG_FILE="$LOG_DIR/entrypoint.log"
touch "$LOG_FILE"
exec >>"$LOG_FILE" 2>&1

echo "--------------------------------------------------"
echo "SPLENT DEV ENTRYPOINT START"
echo "User: $(whoami)"
echo "Date: $(date)"
echo "Log file: $LOG_FILE"
echo "--------------------------------------------------"

# ---------------------------------------------------------------------------
# MAIN STARTUP SEQUENCE
# ---------------------------------------------------------------------------
# Main startup sequence
bash /workspace/{{ product_name }}/scripts/00_core_requirements_dev.sh
bash /workspace/{{ product_name }}/scripts/00_install_features.sh
bash /workspace/{{ product_name }}/scripts/01_compile_assets.sh
bash /workspace/{{ product_name }}/scripts/02_0_db_wait_connection.sh
bash /workspace/{{ product_name }}/scripts/02_1_db_create_db_test.sh
bash /workspace/{{ product_name }}/scripts/03_initialize_migrations.sh
bash /workspace/{{ product_name }}/scripts/04_handle_migrations.sh
bash /workspace/{{ product_name }}/scripts/05_0_start_app_dev.sh

echo "SPLENT DEV ENTRYPOINT FINISHED"
